*,
*::after, 
*::before{
  margin: 0;
  padding: 0;
}
::selection{
  background-color: transparent;
  color: white;
}
html{
  overflow: hidden;
}
body{
  background-color: rgb(10, 10, 10);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Animations */

@keyframes shadow{
  0%{text-shadow: 0 0 5px white;}
  100%{text-shadow: 0 0 10px white;}
}


/* Form Taker */

.nameInputForm{
  display: flex;
  justify-content: center;
  align-content: center;
}
.mainForm{
  height: 250px;
  width: 500px;
  background-color: rgb(50, 50, 50);
  position: absolute;
  border: 2px solid white;
  top: calc(50% - 125px);
  bottom: calc(50% - 125px);
  border-radius: 5px;
  overflow: hidden;
}
.formHead{
  color: white;
  animation: shadow 1s alternate infinite;
  text-align: center;
  margin-top: 0;
  font-size: 50px;
  height: 75px;
  width: 100%;
}
.PlayerInputContainer{
  width: 60%;
  margin-left: 5%;padding-right: 5%;
  margin-top: 5%;
  display: inline-block;
}
#U1NameTaker, #U2NameTaker{
  width: 100%;
  height: 30px;
  font-size: 20px;
  color: white;
  padding: 5px;
  border-top: none;border-right: none;border-left: none;
  border-bottom: 2px solid white;
  outline: none;
  transition: border-radius .3s;
  background-color: transparent;
}
#U1NameTaker::placeholder, #U2NameTaker::placeholder{
  color: rgb(214, 214, 214);
}
#U1NameTaker:focus, #U2NameTaker:focus{
  border-radius: 5px;
}
.PlayerInputContainer, .submitHelper{
  display: inline-block;
}
.submitHelper{
  width: 100px;
  height: 100px;
  left: 20px;
  position: relative;
  top: 20px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  background-image: url("Pictures/startArrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}




/* Tic Tac Game */




input[type="radio"]{
  position: absolute;
  visibility: hidden;
}
.U2, .U1{
  border: 1px solid gray;
  width: calc(100% / 3);
  background-color: rgb(50, 50, 50);
  margin-bottom: -20px;
}
.essentialBelt{
  display: flex;
  width: 100%;
}
.symImgContainer{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#winDeclarer{
  box-sizing: border-box;
  height: 60px;
  color: white;
  font-size: 45px;
  text-align: center;
  width: calc(100% / 2);
  text-shadow: 0px 0px 8px 4px rgb(46, 46, 46);
}
.U2{
  float: right;
}
#U1Name, #U2Name{
  height: 50px;
  font-size: 40px;
  font-weight: 600;
  color: white;
  position: relative;
  top: -5px;
  left: 10px;
}
#U1Name, #U2Name, .symImgContainer{
  display: inline-block;
}

.indexGiver{
  position: relative;
  z-index: 20;
  top: -75px;
}
.scoreBlock{
  height: 25px;
  width: auto;
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gray;
  padding: 10px;
}
.mainTicTacContainer{
  height: 450px;
  width: 455px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.mainTicTacContainer .mainTicTac{
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainTicTacContainer .mainTicTac img{
  height: 100px;
  width: 100px;
}
.playAgain{
  font-size: 40px;
  color: white;
  background-color: dimgray;
  height: 60px;
  width: 300px;
  position: absolute;
  box-shadow: 0px 0px 125px 10px white;
  bottom: -60%;
  left: calc(50% - 150px);
  border: 1px solid lightgray;
  font-variant: small-caps;
  z-index: 10;
  display: none;
  transition: border .2s, background-color .2s; 
}
.playAgain:hover{
  background-color: gray;
  border: 1px solid white;
}
.mainTicTac:first-child{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.mainTicTac:nth-child(2){
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.mainTicTac:nth-child(3){
  border-bottom: 1px solid white;
}
.mainTicTac:nth-child(4){
  border-bottom: 1px solid white;
}
.mainTicTac:nth-child(5){
  border: 1px solid white;
  border-top: none;
}
.mainTicTac:nth-child(6){
  border-bottom: 1px solid white;
}
.mainTicTac:nth-child(7){
  border-right: 1px solid white;
}
.mainTicTac:nth-child(8){
  border-right: 1px solid white;
}
#newGameBtn{
  box-sizing: content-box;
  height: 25px;
  padding: 5px;
  font-size: 20px;
  color: white;
  border: 1px solid white;
  background-color: black;
  margin-top: 32px;
  margin-bottom: 27px;
  margin-left: 5px;
  cursor: pointer;
}
#newGameBtn:active{
  border: 2px inset gray;
}
#newGameBtn{
  overflow: hidden;
}
#newGameBtn::before{
  content: " ";
  width: 10px;
  height: 75px;
  position: relative;
  left: -30px;
  top: -30px;
  background-color: rgba(211, 211, 211, 0.5);
  display: block;
  z-index: 10;
  transform: rotate(35deg);
  transition: left .25s;
}
#newGameBtn:hover::before{
  left: 130px;
}
 #newGameText{
  display: inline-block;
  height: inherit;
  width: inherit;
}
.centerAligner{
  width: 100%;
  display: flex;
  justify-content: center;
}